.nav-container {
    height: 90px;
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-container .right-container {
    display: flex;
    height: 90px;
    align-items: center;
}

.nav-container .right-container .inner-left-container ul {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-evenly;
    height: 90px;
    align-items: center;
}

.nav-container .right-container .inner-right-container {
    display: flex;
    align-items: center;
}
.nav-container .right-container .inner-right-container .inner-right-container_data ul{
    list-style: none;
}
.middele-container {
    color: rgb(13, 13, 200);
}